body { padding: 50px;}


.tab_type1 ul { display: flex; height: 60px; border-bottom: 1px solid #5da62d;}
.tab_type1 ul li { flex: 1;}
.tab_type1 ul li:first-child a { border-left: 1px solid #ddd;}

.tab_type1 ul li a { display:block; height: 59px; border: 1px solid #ddd; border-bottom: none; border-left: none; font-size: 14px; color: #505050; text-align: center; line-height: 59px;}
.tab_type1 ul li a.on {  position: relative; height:58px; border-color: #5da62d; border-top-width: 2px; line-height: 57px; border-bottom: 1px solid #fff; }
.tab_type1 ul li a.on:before {content:""; position: absolute; left:-1px; top:-2px; width: 1px; height: 100%; background: #5da62d; border-top:2px solid #5da62d;}
